<div *ngIf="auction">

  <!-- <h2>{{auction.item}}</h2> -->

  <!-- ongoing auction -->
  <div *ngIf="!isOngoing()">
    <div>
      <h2 class="text-center">Auction for "{{auction.item}}"</h2>
      <span>Bid: {{auction.currentBid | currency:USD:true}}</span>
    </div>
    <div>
      <span>Participant count: {{getParticipants()}}</span>
    </div>
  </div>

  <!-- ongoing auction -->
  <div *ngIf="isOngoing()">
    <div *ngIf="isOwner()">
      <span>Your auction!</span>
    </div>
    <span>Current Bidddd: {{auction.currentBid | currency:USD:true}}</span>
  </div>

  <div>
    <div *ngIf="auction.start">
      <span *ngIf="isOngoing()">Auction</span>
      <span>Started on {{auction.start | date:'medium'}}</span>
    </div>
    <div *ngIf="auction.end">
      <span>Ended on {{auction.end | date:'medium'}}</span>
    </div>
  </div>

</div>