<main>

  <div *ngIf="auction">
    <section class="separate-section">
      <div *ngIf="isOwner()">
        <button *ngIf="!hasStarted() && !hasEnded()" (click)="startAuction()" class="btn btn-sm btn-success">Start Auction</button>
        <button *ngIf="isOngoing()" (click)="finishAuction()" class="btn btn-sm btn-default">Finish Auction</button>
        <button [disabled]="isOngoing()" (click)="deleteAuction()" class="btn btn-sm btn-danger" [title]="isOngoing() ? 'Disabled while auction is ongoing' : ''">Delete Auction</button>
      </div>
      <button *ngIf="!isOwner() && !hasStarted() && !userHasRegistered()" (click)="register()" class="btn btn-sm btn-success">Register for Auction</button>
      <button *ngIf="!isOwner() && !hasStarted() && userHasRegistered()" (click)="unregister()" class="btn btn-sm btn-danger">Unregister from Auction</button>
    </section>

    <section class="separate-section">
      <auction-details [auction]="liveAuction | async"></auction-details>
      <span *ngIf="userHasRegistered() && !isOngoing() && !hasStarted()" class="label label-success">You have registered</span>
      <span *ngIf="hasEnded()" class="label label-default">Auction has ended</span>
    </section>

    <section *ngIf="!isOwner() && isOngoing()" class="separate-section">
      <div *ngIf="userBid || userBid === 0">
        <span>Your last bid:</span>
        <span class="label label-danger">{{ userBid | currency:USD:true }}</span>
        <div *ngIf="isHighestBidder()">
          <span class="label label-success">You are the highest bidder!</span>*
          <div>
            <small>*you may be sharing your position with one or more others</small>
          </div>
        </div>
      </div>

      <!-- TODO: move this to separate component directive -->
      <div *ngIf="userHasRegistered() && !isHighestBidder()" class="form-group separate-section">
        <div>
          <span>The current asking price is:</span>
          <span class="label label-default">{{ getMinBid() | currency:USD:true }}</span>
        </div>
        <div>
          <label class="control-label">Make new bid</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input [(ngModel)]="newUserBid" type="number" [min]="getMinBid()" (blur)="ensureMinBid()" class="form-control">
            <span class="input-group-btn">
              <button (click)="bidOnItem()" [disabled]="newUserBidIsInvalid()" class="btn btn-default">Submit Bid</button>
            </span>
          </div>
        </div>
      </div>

      <div *ngIf="!userHasRegistered()">
        <span class="label label-default">You have not registered for this auction and cannot participate</span>
      </div>
    </section>

    <section *ngIf="isOwner()" class="separate-section">
      <div *ngIf="isOngoing()">
        <span>Select new Asking price:</span>
        <!-- <input [(ngModel)]="newAskPrice" type="number" [min]="getMinBid()" class="form-control"> -->
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input [(ngModel)]="newAskPrice" type="number" [min]="getMinBid()" class="form-control">
        </div>
      </div>

      <div *ngIf="isOngoing() && hasBidders()">
        <div>
          <span>User bids (click to accept one and set the new asking price):</span>
        </div>
        <ul class="list-group">
          <li *ngFor="let bidder of getBidders()" (click)="acceptBid(bidder)" class="list-group-item" role="button">
            <span class="badge">{{ bids[bidder] | currency:USD:true }}</span> {{ getBidderName(bidder) }}
          </li>
        </ul>
      </div>

      <div *ngIf="isOngoing() && !hasBidders()">
        <span class="label label-info">No bidders yet</span>
      </div>
    </section>

  </div>

</main>