<h3 class="text-center">
  Online Auctions!
</h3>

<nav class="navbar navbar-default" *ngIf="isLoggedIn">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a [routerLink]="['/home']">Auctions</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/new']">New Auction</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li role="button">
        <a (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
