<div class="row">
  <div class="col-sm-6 col-lg-4 col-sm-offset-3 col-lg-offset-4">
    <div class="form-group">
      <label class="control-label" for="item">Item for auction</label>
      <input class="form-control input-sm" [(ngModel)]="auction.item" type="text" id="item">
    </div>

    <div class="form-group">
      <label class="control-label">Starting bid</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input [(ngModel)]="auction.currentBid" type="number" class="form-control">
      </div>
    </div>
  </div>
</div>
