<h1>All Auctions</h1>

<main>
  <table class="auction-list table table-striped table-hover">
    <thead>
      <tr>
        <th>Auctioned Item</th>
        <th>Participant count</th>
        <th>Current Bid</th>
        <th>Auction Started</th>
        <th>Auction Ended</th>
      </tr>
    </thead>

    <tbody>
      <tr role="button" auction-list-item [auction]="auction" *ngFor="let auction of auctions | async" (click)="viewDetails(auction._id)"></tr>
      <tr *ngIf="hasNoAuctions">
        <td colspan="5" class="text-center">
          <span class="label label-info" [routerLink]="['/new']" role="button">No auctions yet. Create one?</span>
        </td>
      </tr>
    </tbody>
  </table>
</main>
